@using Bonline.Models
@model Bonline.ViewModels.ListAcc_en_Acc
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Letters.js")
<!DOCTYPE html>
<h1 class='logo'>ACCOUNTS</h1>

<style>
    table, td, th {
        border-collapse: collapse;
        border: 1px solid darkslategray;
        line-height: 50px;
        text-align: center;
    }
</style>
<input style="width: 95%; margin: auto;" class="form-control" id="myInput" type="text" placeholder="Zoek..." />
<br />
<table id="tabletitles" style="width: 95%; margin: auto">
    <thead>
    <tr>
        <th style="width: 142px">ID</th>
        <th style="width: 1110px">Emailadres</th>
        <th style="width: 107px">Geblokkeerd</th>
        <th style="width: 489px"></th>
    </tr>
    </thead>
</table>
<table style="width: 95%; margin: auto; margin-bottom: 10px;" id="myTable" style="width: 100%">
    <tbody>
        @foreach (Account acc in Model.Accs)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => acc.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => acc.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => acc.Inactief)
                </td>
                <td>
                    @using (Html.BeginForm("Accounts", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Verander", "Accounts", "Account", new {id = acc.Id}, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/Scripts/Filter.js")