@model Bonline.ViewModels.ListBonEnBon
@{
    List<SelectListItem> organisatieList = new List<SelectListItem>();
    foreach (var item in Model.Organisaties)
    {
        organisatieList.Add(new SelectListItem
        {
            Text = item,
            Value = item
        });
    }
}
<!DOCTYPE html>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class='logo'>Uw Bonnenlijst</h1>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Filter.js")
    @Styles.Render("~/content/Site.css")
    @Scripts.Render("~/scripts/letters.js")

    <style>
          table, td, th {
              border-collapse: collapse;
              border: 1px solid darkslategray;
              line-height: 50px;
              text-align: center;
          }
    </style>
    <input style="width: 95%; margin: auto;" class="form-control" id="myInput" type="text" placeholder="Zoek..." />
    <br />
    <div class="container">
        <div class="btn btn-default btnn" style="width: 6%;float: left">
            @Html.ActionLink("Kassa", "Kassa")
        </div>
        <div class="btn btn-default btnn" style="width: 6%;float: left">
            @Html.ActionLink("Toevoegen", "Toevoegen")
        </div>
        <div class="form-group" style="width: 10%; float: right">
            @Html.DropDownListFor(m => m.GekozenOrg, organisatieList, new { @style="height:31px" })
            <input class="btn btn-default btnn" style="color: #23527c" type="submit" value="Filter" />
        </div>
    </div>
    <table id="myTable" style="width: 95%; margin: auto">
        <thead>
            <tr>
                <th style="width: 33%">Datum</th>
                <th style="width: 33%">Organisatie</th>
                <th style="width: 33%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bonnen)
            {
                <tr>
                    <td style="width: 33%">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td style="width: 33%">
                        @Html.DisplayFor(modelItem => item.Loc.Org.Name)
                    </td>
                    <td style="width: 33%">
                        @using (Html.BeginForm("Bon", "Bon", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ActionLink("Details", "Details", "Bon", new { id = item.Id }, null)
                        }
                    </td>
                </tr>}
        </tbody>
    </table>
}
@Scripts.Render("~/Scripts/Filter.js")