@model List<Bonline.Models.Bon>

@{
 ViewBag.Title = "Bon";
}
<<<<<<< refs/remotes/origin/Kassasysteem
<!DOCTYPE html>
<<<<<<< refs/remotes/origin/Kassasysteem


<h2>Bon</h2>
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p>Some text in the Modal..</p>
	</div>
<<<<<<< refs/remotes/origin/Kassasysteem

=======
>>>>>>> modal stuff
</div> 

<input class="form-control" id="myInput" type="text" placeholder="KUT SIMON MET JE KUT KOP" />
<br />
<table style="width: 100%">
 <thead>
  <tr>
   <th>Id</th>
   <th>Datum</th>
   <th>Boodschappen</th>
  </tr>
 </thead>
 <tbody id="myTable">

  @foreach (var item in Model)
  {
  <tr>
   <td>
    @Html.DisplayFor(model => item.Id) &nbsp;
   </td>


   <td>
    @Html.DisplayFor(model => item.Date)&nbsp;

   </td>


   <td>
    @Html.DisplayFor(model => item.Description)&nbsp;

   </td>



  </tr>

  }
 </tbody>
</table>


=======
=======
>>>>>>> Details bonnen werkt, Zoeken niet meer?
@using (Html.BeginForm())
{
 <h2>Bon</h2>
 <input class="form-control" id="myInput" type="text" placeholder="Zoek..." />
 <br />
 <table style="width: 100%">
  <thead>
   <tr>
    <th>Id</th>
    <th>Datum</th>
    <th>Boodschappen</th>
   </tr>
  </thead>
  <tbody>
   @foreach (var item in Model)
   {
   <tr>
    <td>
     @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
     @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
     @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
     @using (Html.BeginForm("Bon", "Bon", FormMethod.Post))
	{
     @Html.AntiForgeryToken()
     @Html.ActionLink("Details", "Details", "Bon", new { id = item.Id }, null)
	}
    </td>
   </tr>
   }
  </tbody>
 </table>
}
>>>>>>> Accounts view
@Scripts.Render("~/Scripts/Filter.js")


<<<<<<< refs/remotes/origin/Kassasysteem
<<<<<<< refs/remotes/origin/Kassasysteem
<!-- im so sorry if this messes anything up you can remove it whenever-->
@using (Html.BeginForm("BonKassa", "Bon"))
{
    <input type="submit" name="dang" value="go to kassa" />
}

=======
>>>>>>> modal stuff
=======
>>>>>>> modal stuff
