@model Bonline.Models.Bon
@{
    ViewBag.Title = "BonOverzicht";
}

<h2>BonOverzicht</h2>
<ul>
    <li>@Model.AccId</li>
    <li>@Model.Date</li>
    <li>@Model.Description</li>
    <li>@Model.Locatie</li>
    <li> @Model.Org</li>

</ul>


