@model Bonline.Models.Bon

<!DOCTYPE html>

<h2>Details</h2>

@using (Html.BeginForm("Details", "Bon", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Boodschappen: @Html.DisplayFor(mode => Model.Description)</h4>
    <h4>Datum: @Html.DisplayFor(model => Model.Date)</h4>
    <h4>Account-ID: @Html.DisplayFor(model => Model.Acc.Id)</h4>
    <h4>Account-Email: @Html.DisplayFor(model => Model.Acc.Email)</h4>



}
