@model Bonline.ViewModels.BonPicViewModel
<!DOCTYPE html>
@Scripts.Render("~/Scripts/Letters.js")

@Styles.Render("~/content/Site.css")
<h1 class='logo'>Details</h1>
<body style="text-align: center; margin: auto">

    @using (Html.BeginForm("Details", "Bon", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4><b>Boodschappen:</b> @Html.DisplayFor(mode => Model.b.Description)</h4>
        <h4><b>Datum:</b> @Html.DisplayFor(model => Model.b.Date)</h4>
        <h4><b>Email:</b> @Html.DisplayFor(model => Model.b.Acc.Email)</h4>
 
    if (ViewBag.Base64String != null)
    {
        <h4><b>Afbeelding:</b></h4>
        <img alt="" src="@ViewBag.Base64String" style="grid-auto-rows;" />
        }
    }
</body>