@model Bonline.ViewModels.Acc_en_Bon


@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Letters.js")


@*TODO Handmatig toevoegen bon, doorgeven welk account, dus niet handmatig invullen. *@
 <!DOCTYPE html>
 <body>
  <div>
   <div class='group'>
    @using (Html.BeginForm("Toevoegen", "Bon",FormMethod.Post))
    {
  @Html.AntiForgeryToken()
  <div class="form-group">
   @Html.LabelFor(model => model.B.Locatie, htmlAttributes: new { @class = "labell" })
   @Html.TextBoxFor(model => model.B.Locatie, new { @class = "form-control" })
  </div>
        <div class="form-group">
            @Html.LabelFor(model => model.B.Description, htmlAttributes: new { @class = "labell" })
            @Html.TextBoxFor(model => model.B.Description, new { @class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.B.Org, htmlAttributes: new { @class = "labell" })
            @Html.TextBoxFor(model => model.B.Org, new { @class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.B.Date, htmlAttributes: new { @class = "labell" })
            @Html.EditorFor(model => model.B.Date, new { @class = "form-control"})
        </div>
   <div class="form-group">
    <div class="">
     <input type="submit" value="Voeg toe" class="buttone" />
    </div>
   </div>
    }
   </div>
  </div>
 </body>
