@model Bonline.Models.Bon

@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Letters.js")


<!DOCTYPE html>
<body>
    <div>
        <div class='group'>
            @using (Html.BeginForm("Toevoegen", "Bon", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelForModel("Adres", htmlAttributes: new { @class = "labell" })
                    @Html.TextBoxFor(model => model.Loc.Address, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelForModel("Boodschappen", htmlAttributes: new { @class = "labell" })
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelForModel("Organisatie", htmlAttributes: new { @class = "labell" })
                    @Html.TextBoxFor(model => model.Org, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelForModel("Datum", htmlAttributes: new { @class = "labell" })
                    @if (Model.Date != DateTime.MinValue)
                    {
                        @Html.Editor("Date", String.Format("{0:yyyy-MM-dd HH:mm}", Model.Date), new { @class = "textbox", @style = "width:400px;" })
                    }
                    else
                    {
                        @Html.Editor("Date", String.Format("{0:yyyy-MM-dd HH:mm}", DateTime.Now), new { @class = "textbox", @style = "width:400px;" })
                    }
                </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Voeg toe" class="buttone" />
                        </div>
                    </div>
            }
        </div>
    </div>
</body>
