@model Bonline.Models.Bon
 @{
  ViewBag.Title = "Toevoegen";
 }
@*TODO Handmatig toevoegen bon, doorgeven welk account, dus niet handmatig invullen. *@
 <!DOCTYPE html>
 <head>
  @Styles.Render("~/Content/Site.css")
  @Scripts.Render("~/Scripts/Letters.js")
 </head>

 <body>
  <div>
   <div class='group'>
    @using (Html.BeginForm("Toevoegen", "Bon",FormMethod.Post))
    {
  @Html.AntiForgeryToken()
  <div class="form-group">
   @Html.LabelFor(model => model.Locatie, htmlAttributes: new { @class = "labell" })
   @Html.TextBoxFor(model => model.Locatie, new { @class = "form-control" })
  </div>

   <div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "labell" })
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
   </div>

   <div class="form-group">
    <div class="">
     <input type="submit" value="Voeg toe" class="buttone" />
    </div>
   </div>
    }
   </div>
  </div>
 </body>
